body {
    background-image: url('https://wallpaperaccess.com/full/8611.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
  }

  .card {
    background-color: rgba(0, 0, 0, 0.656);
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
}

