.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.github,
.linkedin,
.pokedex {
    transition: transform 0.3s ease;
}

.github:hover,
.linkedin:hover,
.pokedex:hover {
    transform: scale(1.3);
}
