<body>
    <div class="container text-center">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="background-overlay col-6">
                <img class="mt-5" src="https://archives.bulbagarden.net/media/upload/4/4b/Pok%C3%A9dex_logo.png" alt="">
                <div class="d-flex justify-content-around my-5">
                    <button type="button" class="btn btn-danger btn-lg px-5" [routerLink]="['/login']">Log
                        in</button>
                    <button type="button" class="btn btn-secondary btn-lg px-5"
                        [routerLink]="['/register']">Register</button>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>