<body>
    <div class="container text-center">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="card text-white py-5">
                <div class="cardImg">
                    <img src="https://archives.bulbagarden.net/media/upload/4/4b/Pok%C3%A9dex_logo.png" class="card-img"
                        alt="Pokédex logo">
                </div>

                <div class="card-body py-5 px-3">
                    <h5 class="card-title">Explore the world of Pokémon with the Pokédex!</h5>
                    <div class="pt-5">
                        <a href="/login" class="btn btn-danger btn-lg px-5 me-5">Log in</a>
                        <a href="/register" class="btn btn-secondary btn-lg px-5 ms-5">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>