<div class="container">
    <div class="row p-5">
        <div class="card text-center p-5">
            <h3>Your user details:</h3>
            <div class="d-flex justify-content-center align-items-center mb-1 my-1">
                <img class="immagine" *ngIf="userImageUrl" [src]="userImageUrl" alt="Profile Image">
            </div>
            <h2>Name: {{userNameDetails}}</h2>
            <h2>Surname: {{userSurnameDetails}}</h2>
            <h2>Username: {{userUsernameDetails}}</h2>
            <h2>Email: {{userEmailDetails}}</h2>
            <h2>This is how many unique Pokémons you got: {{numFavoriti}}</h2> <!-- Aggiunto -->
        </div>
    </div>
</div>
