body {
    background-image: url('https://wallpapers.com/images/hd/basic-red-pokeball-bwdp5mcaly84lo1u.jpg');
    min-height: 100vh;
  }
.profilo {
    padding-top: 15%;
}

.pokeball img,
.trainers img {
    margin-top: 5%;
    width: 50%;
    transition: transform 0.3s ease;
}

.pokeball img:hover,
.trainers img:hover {
    transform: scale(1.2);
}

